*
{
	margin: 0;
	padding: 0;
	font-family: Microsoft YaHei, sans-serif;
}

body
{
	min-width: 980px;
	background: #e2e2e2;
}

li
{
	list-style: none;
}


.head-wrapper
{
	background-color: #47456d;
	height: 80px;
	position: relative;
	padding-left: 180px;
	padding-right: 180px;
}


.item
{
	position: absolute;
	right: 180px;
	bottom: 5px;
}
.head-wrapper li
{
	display: inline-block;
}
#logo
{
	color: #fff;
	position: absolute;
	bottom: 5px;
	font-size: 33px;
}
.item a 
{
	text-decoration: none;
	color: #fff;
	padding: 0 14px;
}

#github-icon
{
	position: absolute;
	right: 10px;
	bottom: 0px;
}

@media (max-width: 980px) {
    #github-icon {
        display: none;
    }
}

/*博客主体*/

.blog-center
{
	position: relative;
	width: 980px;
	margin: 20px auto 0;
	
}

.blog-content
{
	width: 710px;
	margin-bottom: 100px;
	
}
.blog-post
{
	background-color: #fff;
	padding: 20px 10px;
	margin-bottom: 10px;
	position: relative;
}

.tag
{
	position: absolute;
	top: 30px;
    left: -50px;
	line-height: 36px;
	width: 50px;
	text-align: center;
}

.tag-date
{
	height: 40px;
	background-color: #47456D;

}

.tag-type
{
	height: 40px;
	background-color: #92C0EF;
}

.blog-post h1
{
	font-size: 16px;
	margin-bottom: 10px;
}

.blog-post h2
{
	font-size: 12px;
	margin-bottom: 20px;
}

.blog-post p{
	text-indent: 2em;
}

.description
{
	margin-top: 30px;
	text-align: right;
	color: #8f8f8f;
}

/*sideBar*/

.search-bar
{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 260px;
	height: 82px;
	background-color: #fff;

}

.keywords
{
	height: 40px;
	width: 170px;
	margin: 20px 65px 20px 25px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
}

.keywords:focus
{
	background: none;
}

.submit
{
	position: absolute;
	top: 20px;
    right: 21px;
    width: 44px;
    height: 44px;
	border:none;
	background: #e2e2e2;
	color: #fff;
	font-size: 21px;
}


/*文章类别*/

.article-type
{
	position: absolute;
	right: 0px;
	top: 100px;
	width: 260px;
	height: 208px;
	background-color: #fff;
	overflow: hidden;
}

.article-type a
{
	text-decoration:none;

}

.article-post
{
	width: 260px;
	height: 51px;
	border-width: 0px 0px 1px 5px;
	border-style: solid;
	border-color: #726fad;
	color: #888;
	line-height: 50px;
	padding-left: 20px;
}

.article-post:hover
{
	border-color: #2f2d48;
	transition: 0.4s;
}

/*日期*/

.show-date
{
	width: 260px;
	height: 260px;
	position: absolute;
	right: 0px;
	top: 324px;
	background-color: #fff;
}

.calendar {
    margin: 20px;
    width: 220px;
    height: 220px;
    text-align: center;
    border-collapse: collapse;
    color: #888;
    font-size: 12px;
}

.calendar tr {
    border-bottom: 1px solid #92C0EF;
}

.calendar-dark {
    color: #47456D;
    font-weight: bold;
}

/*Tag-list*/

.tag-list
{
	width: 230px;
	position: absolute;
	top: 590px;
	right: 0px;
	padding: 15px;
	background-color: #fff;
	color: #888;
	margin-bottom: 50px;
}

.tag-post
{
	color: #726fad;
	font-size: 12px;
}
.L-size
{
	font-weight: bold;
	font-size: 28px;
	color: #726fad;
}

.M-size
{
	font-size: 22px;
	color: #726fad;
}


/*footer 部分*/


.footer
{
	color: #fff;
    
    font-size: 12px;
    background: #000;
}

.footer-nav
{
	text-align: center;
	color: #fff;
}

hr
{
	width: 980px;
	margin: 0 auto;
}

.link-wrapper
{
	width: 980px;
	margin: 0 auto ;
	text-align: center;
	padding-bottom: 100px;
}
.footer-nav li
{
	display: inline-block;
	padding: 0 10px;
	margin: 10px 0;
}

.link-item
{
	width: 193px;
	display: inline-block;
}

.link-title
{
	margin: 40px 0 30px;
}


.copyright
{
	text-align: center;
	margin: 0 auto;
}

#copy-right
{
	margin-bottom: 10px;
}
.copyright p
{
	padding-bottom: 20px;
}